<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="quizPrinter" class="ru.otus.service.impl.QuizPrinterImpl">
    </bean>

    <bean id="questionReader" class="ru.otus.service.impl.QuestionReaderImpl">
        <constructor-arg name="resource" value="questions_resource.csv"/>
    </bean>

    <bean id="quizService" class="ru.otus.service.impl.QuizServiceImpl">
        <constructor-arg name="reader" ref="questionReader"/>
        <constructor-arg name="printer" ref="quizPrinter"/>
    </bean>

</beans>
